/* Elements */
body {
    background: #6FCF97;
}

button {
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 black;
    font-family: 'Inika', serif;
    font-weight: bold;
    border-width:2px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    background:linear-gradient(#6FCF97, #5e8d71);
}

button:active{
  top: 3px;
  box-shadow: none;
}

a {
    color:blue;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: auto;
    font-size: 20px;
    font-family: 'Inika', serif;
}

/* ID's */
#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

#game-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inika', serif;
    font-size: 20px;
    font-weight: lighter;
    width: 65%;
    
    
}

#etch-a-sketch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#options{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-content: space-between;
}

#grid-size-info{
    display: flex;
    flex-direction: column;
    height: 60%;
    background-color: #62B082;
    padding: 10%;
    margin-bottom: 5%;
    border-radius: 10px;
    width: 100px;
    font-family: 'Inika', serif;
}

#change-grid-size{
    height: 30%;
    border-radius: 10px;
}

#grid-size-text{
    height: 70%;
    font-size: 140%;
}

#colors-info{
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 30%;
    background-color: #62B082;
    padding: 10%;
    border-radius: 10px;
    width: 100px;
}

#grid-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#grid-container {
    display: grid;
    width: 500px;
    height: 500px;
}

/* Classes */
.square {
    background-color: white;
    flex: 1 1 auto;
}

.colors{
    height: 100%;
}